.container {
  margin: .8rem;
  border: 1px solid lightgray;
  border-radius: 4px;

  & .title {
    padding: 8px;
  }

  & .tasklist {
    padding: 8px;

    & .task {
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 8px;
      margin-bottom: 8px;
    }
  }
}