* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  overflow: hiden;
  margin: 0 auto;
  padding: 15px;
  text-align: center;

  & .board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: #313131;
    padding: 15px;
    border: 1px solid red;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
  }
  & .card {
    padding: 15px 25px;
    background-color: #f3f3f3;
    cursor: grab;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid blueviolet;
    border-radius: 6px;
    color: initial;
    font-size: initial;
    font-weight: initial;
  }
}
